<html>
<head>
  <title>This is my index</title>
</head>
<body>
  <form>
  <input type="text" id="in">
  <input type="button" id="btn" onclick="document.getElementById('out').innerHTML = document.getElementById('in').value;">  
  </form>
  <p id="out"></p>
</body>
</html>