<html>
<head>
  <title>This is my index</title>
</head>
<body>
  <h1>First header</h1>
  <p>This is my paragraph</p>
  <ul>
    <li>List item 1</li>
    <li>List item 2</li>
    <li>List item 3</li>
  </ul>
  <a href="/form">form</a>
</body>
</html>